:root {

  --font-primary:
    system-ui, 'Segoe UI', Roboto, sans-serif;

  --radius-md: 12px;

  --spacing-md: 16px;
}

[data-theme="dark"] {

  --color-background: #0f0f0f;

  --color-surface: #1C1C1C;

  --color-primary: #E10600;

  --color-text-primary: #FFFFFF;

  --color-text-secondary: #B3B3B3;

  --color-border: #2A2A2A;
}

[data-theme="light"] {

  --color-background: #F5F5F5;

  --color-surface: #FFFFFF;

  --color-primary: #E10600;

  --color-text-primary: #121212;

  --color-text-secondary: #666666;

  --color-border: #DDDDDD;
}

body {

  margin: 0;

  background-color: var(--color-background);

  color: var(--color-text-primary);

  font-family: var(--font-primary);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

